<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">:
    <link rel="stylesheet" href="/css/style.css">
</head>
<header>
    <div class="container">
        <h1>Humean Books - First Edition Antiques</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/books/catalog">Catalog</a></li>
                <li><a href="/auth/signin">Sign In</a></li>
                <li><a href="/orders/history">Order History</a></li>
            </ul>
        </nav>
    </div>
</header>
